body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* In order for oidc-client-js silent renew to work it inserts an iframe in the DOM directly under body tag, it is supposed to be invisible thus its height and width are set to 0 by default. 
   Except iframes have a border value set to 2 which can cause a slight offset to the UI. 
   This rule prevent the iframe to cause an unwanted offset.
   It can be removed if oidc-client-js is no longer the authentification library in use in this project. */

body > iframe[width='0'][height='0'] {
    border: 0;
}
